.logo-head {
    height: 200px;
    width: 200px;
    display:block;
    background-color: white;
    border-right-color: blue;
}

h1 {
    color: black;
    font-size: 100px;
}

.container{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: darkgray;
}


/*styling for navbar*/

.navbar {
    display: flex;
    overflow: hidden;
    background-color: black;
    position: sticky;
    top: 0px;
}

.navbar .info {
    padding: 14px 16px;
    color: white;

}

.navbar .info:hover {
    background-color: yellow;
    color: black;

}

/*styling for content block*/

.infoBlock {
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-top: 100px;
    margin-bottom: 100px;

}

.infoBlock .fact {
    width: 600px;
}

.infoBlock img {
    height: 300px;
    width: 400px;
}

#left {
    flex-direction: row-reverse;
}


/*Styling for footer*/
footer {
    display: flex;
    background-color: gray;
    color: white;
    overflow: hidden;
}

footer p {
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 20px;
    padding-right: 20px;
}

footer .contactUs {
    background-color: rgb(159, 159, 159);
    height: 100%;
    flex-direction: column;
}

footer .contactUs p {
    padding-top: 100%;
    padding-bottom: 100%;
}

footer .socials {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

footer .socials p {


}



/*This is the class to contain all the fun facts*/
