.logo-head {
    height: 200px;
    width: 200px;
    display:block;
    background-color: white;
    border-right-color: blue;
}

h1 {
    color: black;
    font-size: 100px;
}

.container{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: darkgray;
}

.navbar {
    display: flex;
    overflow: hidden;
    background-color: black;
}

.navbar .info {
    padding: 14px 16px;
    color: white;

}

.navbar .info:hover {
    background-color: yellow;
    color: black;

}

.infoBlock {
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-top: 100px;
    margin-bottom: 100px;

}

.infoBlock .fact {
    width: 600px;
}

.infoBlock img {
    height: 300px;
    width: 400px;
}

/*This is the class to contain all the fun facts*/
